<?xml version="1.0"?>
<DHCPServer networkName="HostInterfaceNetworking-VirtualBox Host-Only Ethernet Adapter #3" trunkName="VirtualBox Host-Only Ethernet Adapter #3" trunkType="netadp" IPAddress="192.168.27.100" lowerIP="192.168.27.101" upperIP="192.168.27.254" leasesFilename="C:\Users\Student\.VirtualBox\HostInterfaceNetworking-VirtualBox Host-Only Ethernet Adapter #3-Dhcpd.leases" networkMask="255.255.255.0">
  <Options>
    <Option name="1" encoding="0" value="255.255.255.0"/>
  </Options>
</DHCPServer>
